*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    background-color: #000000;
}
.img{
    margin-top:150px;
    width: 280px;
    height: 280px;
}
.footer-wrap{
    color: white;
    background-color: #000000;
    padding: 1px;
}
